/*styling sheet*/
@font-face {
    font-family: 'disgusting_behaviorregular';
    src: url('../fonts/disgb___-webfont.woff2') format('woff2'),
        url('../fonts/disgb___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

h1 {
    color: #AF3B6E;
    font: normal clamp(3.25rem, 1.2083rem + 9.0741vw, 9.375rem) 'disgusting_behaviorregular';
    line-height: 100%;
}

h2 {
    color: #AF3B6E;
    font: normal clamp(2.75rem, 2.3333rem + 1.8519vw, 4rem) 'disgusting_behaviorregular';
}

h3 {
    font: normal 300 clamp(1em, 2vw, 2.5em) "Merriweather Sans", sans-serif;
}

h4 {
    font: normal 300 clamp(14px, 1.5vw, 20px) "Merriweather Sans", sans-serif;
}

p {
    font: normal 400 clamp(12px, 1.5vw, 16px) "Merriweather Sans", sans-serif;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #949ABF;
    max-width: 66.25%;
    margin: auto;
    top: 0px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 14px;
    z-index: 1;
    padding-left: 1%;
    justify-content: center;
}
.navbar img {
    transition: 1s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar img:hover {
    transform: rotate(360deg);
}
.navlogo {
    flex-grow: 1;
    display: flex;
    justify-content: left;
}
.navbuttons {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

/*Start of main page*/
body {
    background-color: #F4F0ED;
    padding-top: 88px;
}

/*Title Cards*/
.title {
    text-align: center;
    width: 66.25%;
    margin: 1% auto 1% auto;
    background-color: #F7DD72;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.title h4 {
    color: #AF3B6E;
}

/*Information Cards*/
.bluecard {
    text-align: center;
    width: 66.25%;
    margin: 1% auto 1% auto;
    background-color: #949ABF;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.inviscard {
    width: 66.25%;
    margin: 1% auto 1% auto;
    /*display: flex;
    flex-direction: row;*/
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}
.bluecard-sm {
    text-align: center;
    margin: 1% auto 1% auto;
    background-color: #949ABF;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.footercard {
    text-align: center;
    width: 66.25%;
    margin: 1% auto 1% auto;
    background-color: #F7DD72;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.footercard h4 {
    color: #AF3B6E;
}

.copyright {
    font-style: italic;
    width: 100%;
    text-align: center;
    bottom: 0;
}